.bash_history
config/nvim/plugins/*
config/*
!config/fish
!config/alacritty
!config/nvim
!config/lxterminal

!config/Code
config/Code/*
!config/Code/User
config/Code/User/*
!config/Code/User/keybindings.json
!config/Code/User/settings.json
vscode/extensions.txt

!.gitkeep

.fake
.ionide