[user]
	name = guricerin
	email = chanbo1e9@gmail.com
[includeIf "gitdir:~/workspace/github.com/sensyn-robotics/"]
	path = ~/.config/git/sensyn-robotics.config
[core]
	editor = vim
	hookspath = ~/.config/git/hooks
[init]
	defaultBranch = main
[alias]
	st = status
	br = branch
	cm = commit
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	sw = switch
[submodule]
	recurse = true
[pull]
	rebase = false
